
            p{
                font-family: Roboto;
                margin-top: 0;
                margin-bottom: 0;
            }
            .video-title{
                font-size: 18px;
                font-weight: bold;
                width: 300px;
                text-align: left;
                line-height: 25px;
                margin-bottom: 5px;
            }
        
            .video-stats{
                font-size: 14px;
                color: rgb(96, 96, 96);
                line-height: 24px;
                margin-top: 5px;
                margin-bottom: 20px;
            }
            .video-author{
                font-size: 14px;
                color: rgb(96, 96, 96);
                line-height: 24px;
                margin-bottom: 20px;
        
            }
            .video-description{
                font-size: 14px;
                width:300px;
                color: rgb(96, 96, 96);
                line-height: 22px;
                margin-bottom: 115px;
        
            }
            .apple-text{
                margin-bottom: 50px;
                font-size: 14px;
                background-color: rgb(227, 65, 64);
                color: white;
                text-align: center;
                padding-top: 20px;
                padding-bottom: 20px;
            }
        
            .shop-style{
                margin-left: 14px;
                cursor: pointer;
            }
            
            .shop-style:hover{
                text-decoration: underline;
            }
        
        